.python-version

.DS_Store
.ipynb_checkpoints/
__pycache__
**/.DS_Store
**/.ipynb_chechpoints
**/__pycache__
log.txt
**/log.txt
Part.1.E.6.containers.ipynb
Part.1.F.deal-with-forward-references.ipynb
